<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.robin1.rbdata.emp.EmpMapper">
  <select id="selectEmpOne" parameterType="int" resultType="kr.co.robin1.rbdata.emp.Employee">
    select * from Employees where employee_id = #{id}
  </select>
  <select id="selectEmp" resultType="kr.co.robin1.rbdata.emp.Employee">
    select * from Employees
  </select>
  <select id="selectEmpCond1" parameterType="String" resultType="kr.co.robin1.rbdata.emp.Employee">
    select * from Employees where UPPER(first_name) = UPPER(#{firstName})
  </select>
</mapper>
